@font-face {
  font-family: 'JetBrainsMono NFP';
  src: url('./assets/fonts/JetBrainsMonoNFP-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono NFP';
  src: url('./assets/fonts/JetBrainsMonoNL-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  margin-bottom: 20px; 
}

:root {
  --color-border: #7C7C7C;
  --color-surface: #525252; 
  
  --color-bg: #222222;

  --color-text-main: #FFFFFF;
  --color-text-secondary: #616161;
  --color-text-button: #AAAAAA;

  --color-accent: #FFD16D;

  font-family: 'JetBrainsMono NFP', monospace;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-main);
  font-family: 'JetBrainsMono NFP', monospace;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;  
  overflow-x: hidden;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: #ffffff;
}

.app-container {
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  transition: border 0.2s ease, background-color 0.2s ease;
  border: 1px dashed transparent;
}

.app-container.dragging {
  border: 1px dashed #FFD16D;
  background-color: #1a1a1a;
}

.content-container {
  padding: 0 20px 20px 20px;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #666;
}

.empty-state h2 {
  color: #F2C94C;
  margin-bottom: 8px;
}

.app-container.is-scrolling .splatera-card {
  pointer-events: none; 
}